
.inputs-container {
    padding: 0 16px;
    display:flex;
    flex-direction: column;
    row-gap: 40px;
}


.search-container {
    height: 56px;
    max-width: 480px;
    width: 80%;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.068);
    border-radius: 7px;
    display:flex;
    align-items: center;
    padding: 0 0 0 32px;
}

#search-input {
    border:none;
    height: 100%;
    width: 100%;
}

#search-input:focus {
    outline: none;
}

.search-icon {
    font-size: 28px;
    opacity: 0.4;
    margin-right: 10px;
}

#area-input {
    height: 48px;
    max-width: 200px;
    padding: 0 19px 0 24px; 
    border:none;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.082); 
    border-radius: 8px;  
}