.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.096);

    padding: 0 16px;
    margin: 0 0 24px 0
}

.darkmode-container {
    display:flex;
    column-gap: 18px;
    align-items: center;
}

.moon-icon {
    font-size: 20px;
   
}